.carousel{
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    width: 30vw;
    height: 30vw;
    border-radius: 15vw;
    background-color: #212529;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    background-attachment:fixed;
}

.carousel-item{
    img{
        width: 18vw;
        height: 18vw;
        margin-left: 7vw;
        cursor: pointer;
    }    
}

.circle-item{
    width: 6vw;
    height: 6vw;
    border-radius: 3vw;
    position: absolute;
    top: 38%;
    left: 38%;
}

.carousel-start{
    font-size: 7vw;
    width: 15vw;
    height: 15vw;
    margin-left: 8vw;
}