@import "../../pages/Home/__colors";

.skills-container{
    margin: 0;
    position: relative;
    a{
        display: inline-block;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.page-header{
    margin-bottom: 2vh;
    width: 100%;
    color: $primaryBackgroundColor;
}

.card{
    width: 32vw;
    height: 32vw;
    // border-radius: 16vw;
    cursor: pointer;
    background-color: $primaryBackgroundColor;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px $primaryBackgroundColor;
    transition: ease-in-out all 1s;

    &:hover{
        transform: rotateX(15deg) rotateY(-20deg);
        transform-style: preserve-3d;
    }


    .card-title{
        position: absolute;
        bottom: 1vh;
        left: 1vw;
    }
}