@import "../../pages/Home/__colors";

.skills-container{
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    a{
        display: inline-block;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.page-header{
    margin-bottom: 2vh;
    width: 100%;
    color: $primaryBackgroundColor;
}

.card{
    width: 32vw;
    height: 32vw;
    border-radius: 4vw;
    cursor: pointer;
    background-color: $primaryBackgroundColor;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px $primaryBackgroundColor;

    .card-title{
        position: absolute;
        bottom: 1vh;
        left: 1vw;
    }
}

.tilt{
    width:35%;
    margin-left: 0.3rem;
    
}

@media only screen and (max-width: 750px) {
    .card {
      width: 60vw;
      height: 60vw;
    }

    .tilt{
        width: 80%
    }
  }