@import "__colors";

.home-container {
    background-color: $primaryBackgroundColor;
    color: $primaryTextColor;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.list-group{
    position: fixed;
    top: 15vh;
    right: 5vw;
    font-size: 1.3vw;
    z-index: 2;
    
    .list-group-item{
        background-color: rgba(0,0,0,0);
        border: none;
        color: #db3a34;
        &:hover{
            color: white
        }
    }
}

.moving-type-container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    height: 105vh;

}

.moving-type{
    position: relative;
    font-size: 5vw;
    white-space: nowrap;
    z-index: 0;
    color: #444446;
}

@media only screen and (max-width: 585px) {
    .small-hide{
        display: none;
    }
  }