@import "__colors";

.home-container {
    background-color: $primaryBackgroundColor;
    color: $primaryTextColor;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.list-group{
    position: fixed;
    top: 15vh;
    right: 5vw;
    font-size: 1vw;
    
    .list-group-item{
        background-color: $primaryBackgroundColor;
        color: $primaryTextColor;
        &:hover{
            color: white
        }
    }
    .fas{
        color: $primaryTextColor;
        &:hover{
            color: white
        }
    }

}

.moving-type{
    position: absolute;
    font-size: 9vh;
    z-index: 0;
    white-space: nowrap;
}